{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增环境</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <style>
        .navbar {
            border-radius: 0;
        }
    </style>
</head>
<body>
{# 导航条部分 #}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">UI用例管理</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">部门管理</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">登录</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">Coder01 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">个人资料</a></li>
                        <li><a href="#">我的信息</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">注销</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

{# 添加部门部分 #}
<div>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> 新增环境 </h3>
            </div>
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>名称</label>
                        <input type="text" class="form-control" placeholder="名称" name="name">
                    </div>
                    <div class="form-group">
                        <label>url</label>
                        <input type="text" class="form-control" placeholder="url" name="url">
                    </div>
                    <div class="form-group">
                        <label>账号</label>
                        <input type="text" class="form-control" placeholder="账号" name="account">
                    </div>
                    <div class="form-group">
                        <label>密码</label>
                        <input type="text" class="form-control" placeholder="密码" name="password">
                    </div>
                    <div class="form-group">
                        <label>账号xpath</label>
                        <input type="text" class="form-control" placeholder="账号xpath" name="account_xpath">
                    </div>
                    <div class="form-group">
                        <label>密码xpath</label>
                        <input type="text" class="form-control" placeholder="密码xpath" name="password_xpath">
                    </div>
                    <div class="form-group">
                        <label>登录按键xpath</label>
                        <input type="text" class="form-control" placeholder="登录按键xpath" name="login_xpath">
                    </div>
                    <button type="submit" class="btn btn-primary">提交</button>
                    <a class="btn btn-primary" href="/index/" >
                        返回
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
</body>
</html>